.header {
  h1 {
    padding-left: 1.3rem;
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.5;
  }
  .navbar {
    .navbar-nav {
      ul {
        li {
          a {

          }
        }
      }
    }
    .btn {

    }
  }
}