.header {
  h1 {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 0;
  }
  .navbar {
    padding: 2rem 0;
    .navbar-brand {
      padding-top: 0;
    }
    .navbar-nav {
      .nav-item {
        margin-right: 2.75rem;

        a {
          color: $black;
          font-size: 0.875rem;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
    .btn {
      padding: 0.6rem 1.2rem;
      font-size: 0.875rem;
      text-transform: uppercase;
      line-height: 1;
      color: $black;
      border-color: $black;
    }
  }
}